<div class="container">
    <div class="col-xs-12 text-center" style="margin-bottom: 20px;">
				<h1>
          Sign Up
				</h1>
    </div>

    <div class="row">
      <div class="main-terms col-xs-8 col-sm-offset-2">
        <h3 class="text-center">Full Access Coming Soon</h3>
        <p>
          Sorry we are currently not accepting sign ups directly.
          We are working closely with programming bootcamps to onboard our first few students and campaigns.
          If you are currently in the admission process at a bootcamp and in need of financial assistance,
          ask them about using Codefund and to reach us at <a href="mailto:info@codefund.io">info@codefund.io</a>
        </p>

        <p>
          Interested in attending a bootcamp? Find the right bootcamp for you with <a href="//www.thinkful.com/bootcamps/">Thinkful's Bootcamp Finder</a>.
        </p>
      </div>
    </div>
</div>
