
    <div class="site-wrapper">

      <div id="home" class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Crowdfunding for aspiring coders.</h1>
          </div>

<!--           <div class="mastfoot">
  <div class="inner">
    <p class="col-sm-2 col-sm-offset-5">
      <a href="#learn-more" class="btn btn-default btn-lg btn-block">Learn More</a>
    </p>

  </div>
</div>
 -->
        </div>

      </div>
      <div id="learn-more" class="learn-more">
        <div class="cover-container">
          <div class="inner cover" style="padding-bottom: 100px;margin-bottom: -80px;">
            <div class="row lm-content">
              <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center section-header">How It Works</h1>
                <div class="col-md-4 lm-column">
                  <div class="text-center">
                    <i class="icon fa fa-child"></i>
                  </div>
                  <h3 class="text-center">Create Your Campaign</h3>
                  <p class="text-center">
                    Start your campaign today and inform our community about your plans for success. Take the first step toward a new chapter in your life. Empower yourself with the skills to build and create for our modern time.
                  </p>
                </div>
                <div class="col-md-4 lm-column">
                  <div class="text-center">
                    <i class="icon fa fa-bullhorn"></i>
                  </div>
                  <h3 class="text-center">Raise Awareness</h3>
                  <p class="text-center">
                    Receive campaign guidance and support from the codefund team. We'll optimize your campaign for maximum reach across social networks, tapping into a focused audience who share our passion for reduced barriers to education.
                  </p>
                </div>
                <div class="col-md-4 lm-column">
                  <div class="text-center">
                    <i class="icon fa fa-money"></i>
                  </div>
                  <h3 class="text-center">Donate</h3>
                  <p class="text-center">
                    Pay it forward by donating to the most promising talent featured on the platform. Change someone's life for the better. Take an active role within the community. Source talent for your business.
                  </p>
                </div>
              </div>
            </div>
            <div class="row lm-content" style="background-color:#eee;padding-top: 20px; padding-bottom: 30px;">
                <div class="col-md-8 col-md-offset-2">
                  <h1 class="text-center section-header">About Us</h1>
                  <p class="text-center">
                    We're just two tech enthusiasts who want others to have as much fun as we are having.
                  </p>
                  <br/>
                  <div class="col-md-4 col-md-offset-1 lm-column">
                    <img src="/images/dana.jpg" class="about-img img-responsive img-circle" />
                    <p class="text-center">
                      Dana Alibrandi
                    <br/>
                      Technical Product Manager
                    </p>
                  </div>
                  <div class="col-md-4 col-md-offset-1 lm-column">
                    <img src="/images/adrian.jpg" class="about-img img-responsive img-circle" />
                    <p class="text-center">
                      Adrian Moses
                      <br/>
                      Freelance Software Developer
                    </p>
                  </div>
                </div>
              </div>
            <div class="row lm-content">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center section-header">OUR MISSION IS TO BRIDGE THE TUITION FINANCE GAP FOR STUDENTS PLANNING TO ATTEND A PROGRAMMING BOOTCAMP.</h2>
                <p class="text-center">
                  We believe in the viability of <strong>programming bootcamps</strong> as a vehicle for self-empowerment in today's workforce. However, these schools often lack <strong>FAFSA</strong> support, leaving many potential applicants with few options for covering tuition costs.
                </p>
                <p class="text-center">
                  <strong>codefund</strong> is a community of like-minded individuals working on the solution.<br /> Sign up for our newsletter to stay informed of what's happening in the community.
                </p>
                <form id="signup-form-one" class="form-inline signup-form"
                    action="//codefund.us8.list-manage.com/subscribe/post?u=f85ec4db03762cf7447be5f9f&amp;id=10d5e12dde">
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input id="email" class="form-control input-lg" placeholder="email" type="email" id="email" name="EMAIL" />
                  </div>
                  <a href="#" class="sign-up btn btn-lg btn-success">Sign Up</a>
                </form>
              </div>
            </div>
            <div class="lead">
            </div>
          </div>
        </div>
      </div>

    </div>
