<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New pending campaign: <%= @campaign.username %> </h1>
    <p>
      Take a look on the admin page <a href="//app.codefund.io/admin">here</a>.
    </p>
  </body>
</html>
